*
{
	font-family:century gothic;
}
#outer
{
	height:autopx;
	width:autopx;
	background-color:;
}


#logo
{
	height:101px;
	width:autopx;
	margin-top:10px;

}
#submenu
{
	height:50px;
	width:autopx;
	margin-left:200px;
	background-color:;
	margin-top:-100px;
  
}
#submenu ul
{
list-style-type:none;


}
#submenu ul li
{
display:inline;
padding:10px;
float:right;
margin-top:-30px;
border-left:1px solid #3eb5a8;
border-bottom:1px solid #3eb5a8;
background-color:white;


}
#submenu ul li:hover
{
	background-color:#42d1d0;
	transition:0.9s ease;
	box-shadow:2px 5px 5px black;
}
#submenu ul li a
{
color:black;
font-family:Lato;
font-size:16px;
text-decoration:none;
transition:0.9s ease;
}
#submenu ul li a:hover
{
	color:white;
	font-size:20px;
}
#menu2
{
	height:60px;
	width:autopx;
	margin-left:200px;
	background-color:;
	margin-top:-80px;
  
}
#menu2 ul
{
list-style-type:none;

}
#menu2 ul li
{
display:inline;
padding:10px;
border-left:1px solid #3eb5a8;
border-top:1px solid #3eb5a8;
float:right;
margin-top:12px;

}
#menu2 ul li a
{
color:black;
font-family:Lato;
font-size:18px;
text-decoration:none;
transition:0.5s ease;
}
#menu2 ul li a:hover
{
font-size:20px;
color:white;
transition:0.4s ease;
}
#menu2 ul li:hover
{
	background-color:#42d1d0;
	transition:0.5s ease;
	box-shadow:2px 5px 5px black;
}


#slider
{
height:500px;
width:autopx;
margin-top:-5px;
transition:0.9s ease;

}
#searchbar
{
	height:100px;
	width:auto;
	background-color:#181818;
	margin-top:5px;
	border:1px solid white;
}
#fdoctor
{
	height:100px;
	width:300px; 
	border:1px solid transparent;
	
    float:left;
	margin-left:20px;
}
#fspecialist
{
	height:100px;
	width:280px; 
	border:1px solid transparent;	
    float:left;
	margin-left:20px;
}
#fhospital
{
	height:100px;
	width:280px; 
	border:1px solid transparent;	
    float:left;
	margin-left:20px;
}
input
{
margin:30px;
height:40px;
width:250px;
outline:none;
 border-radius:10px;
 border:none;
} 
	
}
#submit
{
	height:autopx;

	width:autopx;
}
#submit input
{
	font-size:30px;
	color:white;
	font-family:Lato;
	margin-top:30px;
	margin-left:30px;
	height:40px;
	width:180px;
	outline:none;
	border-radius:10px;
	border:none;
	background-color:transparent;
	transition:0.9s ease;
}

#submit input:hover
{
	background-color:#42d1d0;
	
	transition:0.9s ease;
	
}
#sliderr
{
height:250px;
width:autopx;
margin-top:5px;
background-color:#4df2f2;
}


#t
{
	height:30px;
	width:auto;
	color:#ffffff; 
	font-family:Open Sans;
	font-size:30px;
	float:left; 
	margin-left:450px;
	margin-top:7px;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color:#42d1d0;
  border: none;
  color:#42d1d0;
  text-align: center;
  font-size: 22px;
  padding: 1px;
  width: 120px;
  height:40px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span a{
  cursor: pointer;
  display: inline-block;
margin-top:6px;
  transition: 0.5s;
  text-decoration:none;
  color:white;
}

.button span a:after {
  content: '\00bb';
 
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span a {
  padding-right: 25px;
}

.button:hover span a:after {
  opacity: 1;
  right: 0;
}

#docter
{
	height:750px;
	width:autopx;
	background-color:white;
	margin-top:5px;
	text-align:center;
	
}
#medicounsel
{
	height:200px;
	width:900px;
	margin-left:200px;
}
#dimage
{
	height:600px;
	width:1000px;
	margin-left: -10px;
	margin-top:50px;
}
#review
{
	height:800px;
	width:autopx;
	background-color:#eaeaea;
	margin-top:-50px;
	border:1px solid transparent;
	background-color:#e5feff;
	
}
#one
{
	height:750px;
	width:400px;
	border:1px solid transparent;
	margin:20px;
	transition: 0.5s;
	float:left;
	background-color:#e5feff;
	border:none;
}

#f
{
	height:300px;
	width:400px;
	
	margin-top:px;
	margin-left:px;
	transition:0.9s ease;
}
#e
{
	height:auto;
	width:380px;
	color:black;

	
	font-size:17px;
	text-align:justify;
	border:1px solid transparent;
		padding:7px;
}
	
#three
{
	height:750px;
	width:400px;
	border:1px solid transparent;
	margin:20px;
	transition: 0.5s;
	float:left;
	border:none;
}
#g
{
	height:300px;
	width:400px;

	margin-top:px;
	margin-left:px;
	transition:0.9s ease;
}
#h
{
	height:auto;
	width:380px;
	color:black;

	font-size:17px;
	text-align:justify;
	border:1px solid transparent;
		padding:7px;
}
#two
{
	height:750px;
	width:400px;
	border:1px solid transparent;
	margin:20px;
	transition: 0.5s;
	float:left;
	border:none;
	box-sizing:border-box;
}
#i
{
	height:300px;
	width:400px;

	margin-top:px;
	margin-left:px;
	transition:0.9s ease;
}
#j
{
	height:auto;
	width:380px;
	color:black;
	
	font-size:17px;
	text-align:justify;
	border:1px solid transparent;
	padding:7px;
}
#one:hover
{
	color:red;
    box-shadow:0px 0px 10px 10px black;
}
#two:hover
{
	color:red;
    box-shadow:0px 0px 10px 10px black;
}
#three:hover
{
	color:red;
    box-shadow:0px 0px 10px 10px black;
}


#footer
{
	height:250px;
	width:autopx;
       color:white;
	background-color:#242424;
	border:1px solid transparent;
}
#onee
{
	height:autopx;
	width:250px;
	color:white;
	margin-left:50px;
	//border-right:1px solid white;
	text-decoration:none;
	float:left;
	
}
#twoo
{
	height:autopx;
	width:250px;
	color:white;
	margin-left:50px;
	border-right:1px solid white;
	text-decoration:none;
	float:left;
	
	
	
}
#threee
{
	height:autopx;
	width:250px;
	color:white;
	margin-left:50px;
	//border-right:1px solid white;
	text-decoration:none;
	float:right;
	margin-top:-170px;
	margin-right:500px;
	
	
	
}
#four
{
	height:autopx;
	width:250px;
	color:white;
	margin-left:50px;
	//border-right:1px solid white;
	text-decoration:none;
	float:right;
	margin-top:-170px;
	margin-right:130px;
}
#span
{
	height:50px;
	width:autopx;
	border:1px solid transparent;
	
}
#im1
{
	height:50px;
	width:50px;
	border:1px solid transparent;
	float:left;
	margin-left:550px;
	margin-top:20px;
}
#im2
{
	height:50px;
	width:50px;
	border:1px solid transparent;
	float:left;
	margin-top:20px;
	margin-left:10px;
}
#im3
{
	height:50px;
	width:50px;
	border:1px solid transparent;
	float:left;
	margin-top:20px;
	margin-left:10px;
}
#n
{
	height:10px;
	width:autopx;
}
#c
{
	height:10px;
	width:100px;
	float:left;
	color:white;
	margin-left:-700px;
	margin-top:30px;
}

#d
{
	height:10px;
	width:100px;
	float:right;
}


	
#show
{
	float:left;
	font-size:8px; 
	font-family:Lucida Bright;
	
}
#a
{
	float:right;
	font-size:8px; 
	font-family:Lucida Bright;
	
}

	

	

