#outer
{
	height:autopx;
	width:autopx;
	background-color:;
}


#logo
{
	height:101px;
	width:autopx;
	margin-top:10px;

}

#menu2
{
	height:60px;
	width:autopx;
	margin-left:200px;
	background-color:;
	margin-top:-80px;
  
}
#menu2 ul
{
list-style-type:none;

}
#menu2 ul li
{
display:inline;
padding:10px;
border-left:1px solid #42d1d0;;
border-top:1px solid #42d1d0;
float:right;
margin-top:19px;

}
#menu2 ul li:hover
{
	background-color:#42d1d0;
	transition:0.7s ease;
	box-shadow:2px 5px 5px black;
}
#menu2 ul li a
{
color:black;
font-family:Lato;
font-size:16px;
margin-top:5px;
text-decoration:none;
transition:0.5s ease;
}
#menu2 ul li a:hover
{
color:white;
font-size:18px;
transition:0.5s ease;
}
#body
{
height:autopx;
width:autopx;
border:1px solid red;
background-attachment:fixed;
background-size:cover;
}
#black
{
height:autopx;
width:autopx;
background-color:rgb(0,0,0,0.2);
border:1px solid transparent;


}
#text
{
height:autopx;
width:autopx;
border:1px solid transparent;
font-family:lato;
font-size:55px;
color:white;
margin-top:40px;
margin-left:300px;
}
textarea
{
 height:200px;
width:500px;
margin-left:350px;
margin-top:30px;
color:white;
font-size:22px;
font-family:lato;
border:1px solid lightgrey;

background:rgb(0,0,0,0.4);



}
input
{
	height:40px;
	width:250px;
	border:none;
	outline:none;
	background-color:rgb(0,0,0,0.8);
	color:white;
	border-radius:20px;
	font-size:25px;
	margin-top:20px;
	margin-left:480px;
	font-family:lato;
	box-shadow:2px 5px 5px black; 
}
#footer
{
	height:50px;
	width:autopx;
	color:white;
	font-size:16px;
	background-color:#333333;
	margin-top:5px;	
}